body{
    margin: 0;
    padding: 0;
}

.main-container{
    background-color: antiquewhite;
    height:100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
}

canvas {
    background-color: #fff;
}